### Type Error

In [3]:
x=input("enter a number")
if x<10:
        print("hello amit")

TypeError: '<' not supported between instances of 'str' and 'int'

# Exception Handeling

In [22]:
x=int(input("enter number 1"))
y=int(input("enter a number 2"))

try:
    print("program is running")
    result= x/y
    print("program is executed")
    print("result is = ",result)
except Exception as e:
    print("as get an error")
    print(e)

else:
    print("no exception")
    
finally:
    print("hello world")

program is running
program is executed
result is =  1.0
no exception
hello world

# Oops in Python

In [9]:

class animal:                               #CLASS VARIABLE
    name="Lion"
    weight=2000
    age=25                                  #( FUNCTION vs METHOD )
def display(self):                          #( SELF KEYWORD IS USED TO CALL THE DATA MEMBERS OF CLASS )
        print(self.name)
        print(self.weight)
        print(self.age)
obj_animal= animal()                        # ( OBJECT CREATION )
    #print(obj_animal.name)
obj_animal.display()

Lion
2000
25

#### Inserting OF A DATAMEMBER OF A CLASS

In [10]:
class animal:
#CLASS VARIABLE
    name="Lion"
    weight=2000
    age=25                                            #( FUNCTION vs METHOD )
    def display(self):                          #( SELF KEYWORD IS USED TO CALL THE DATA MEMBERS OF CLASS )
        print(self.name)
        print(self.weight)
        print(self.age)
    
    obj_animal= animal()                        # ( OBJECT CREATION )
    #print(obj_animal.name)
    obj_animal.display()
    
    obj_animal.name= "python"
    print(obj_animal.name)

Lion
2000
25
python

# ( CONSTRUCTOR - INIT )

In [ ]:
__init__   #( WAY OF WRITING INIT CONSTRUCTOR OR SYNTAX )( used to asign the value of a objects property)

In [7]:
#( EXAMPLE OF INIT CONSTRUCTOR )

class animal:
    num1= 100
    num2= 200
    def __init__(self,name,weight,age):
        self.animal_name=name              #( CREATING VARIABLE NAME  BY USING DOT OPERATOR WITH SELF KEYWORD )(these variables are instance variables)
        self.animal_weight=weight
        self.animal_age=age
        
    def display(self):
        print(self.animal_name)
        print(self.animal_weight)
        print(self.animal_age)
        
obj1= animal(name="pisuke",weight=25000,age=27)
print(obj1.animal_name)
print(obj1.animal_age)
print(obj1.animal_weight)

obj2= animal(name="ichi",weight=120,age=18)
print(obj2.animal_name)
print(obj2.animal_weight)
print(obj2.animal_age)
print(obj1.num1)
print(obj2.num2)

pisuke
27
25000
ichi
120
18
100
200

In [16]:
class bank:
    name="Amit sain"                                    #( CLASS VARIABLES )
    age="19"
    add="Bhiwadi"
    bank_name="SBI"
    account= 4236155436746
    
    def show_info(self):                                #( HERE SHOW FUNCTION IS USED TO )
         print(self.name)
         print(self.age)
         print(self.add)
         print(self.bank_name)
         print(self.account)

account_1=bank()
print("name of the account holder = ",account_1.name)
print("age of the account holder = ",account_1.age)
print("add of the account holder = ",account_1.add)
print("name of the account holder bank = ",account_1.bank_name)
print("account number of the account holder = ",account_1.account)
print()
account_1.name="Sumit sain"
print("account holder name is changed to = ",account_1.name)
print("\n")

account_2=bank()
print("name of the account holder = ",account_2.name)
print("age of the account holder = ",account_2.age)
print("add of the account holder = ",account_2.add)
print("name of the account holder bank = ",account_2.bank_name)
print("account number of the account holder = ",account_2.account)
print()

print("show account 1 info")
account_1.show_info()
print()

print("show account 2 info")
account_2.show_info()

name of the account holder =  Amit sain
age of the account holder =  19
add of the account holder =  Bhiwadi
name of the account holder bank =  SBI
account number of the account holder =  4236155436746

account holder name is changed to =  Sumit sain


name of the account holder =  Amit sain
age of the account holder =  19
add of the account holder =  Bhiwadi
name of the account holder bank =  SBI
account number of the account holder =  4236155436746

show account 1 info
Sumit sain
19
Bhiwadi
SBI
4236155436746

show account 2 info
Amit sain
19
Bhiwadi
SBI
4236155436746

In [28]:
#(non repeatation of a value in a list )

def uniq_list(l):
    x=[]
    for a in l:
        if a not in x:
            x.append(a)
    return x
print(uniq_list([1,2,3,3,4,5,6,6,7,85,68,46,4,6,5,4,3,45,46,5,4,3,5,6,3,9,9,10]))

[1, 2, 3, 4, 5, 6, 7, 85, 68, 46, 45, 9, 10]