#### ( WHILE LOOP )

In [1]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

#### While with Break statement

In [2]:
i=1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

#### While with Continue Statement

In [3]:
i=1
while i<6:
    i+=1
    if i==3:
        continue
    print(i)

2
4
5
6

#### While with Continue else

In [4]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("i is no longer less then 6")

1
2
3
4
5
i is no longer less then 6

# Function 

* Python function is a block of code, that runs only when it is called. It is programmed to return the specific task. You can pass values in functions called parameters.

In [6]:
def my_function():
    print("hello from a function")  
   
 #( CALLING A FUNCTION )
my_function()

hello from a function

####  FUNCTION BY PARAMETER

In [7]:
def my_function(name):
    print(name + " sain")
    
my_function("Amit")
my_function("Mohit")

Amit sain
Mohit sain

#### TWO NO. ADDITION USING FUNCTION

In [8]:


def add():
    x=int(input("enter a number"))
    y=int(input("enter a number"))
    z=x+y
    print(z)
    
add()

In [ ]:
def add(num1,num2):
    result= num1+num2
    return result

num1=3
num2=5
result= add(num1,num2)
print(result)

8

In [ ]:
def name(fname,lname):
    print(fname+ " " +lname)
    
name("Amit","sain")

Amit sain

#### ( MULTIPLE ARGUEMENTS OR (ARGS) )

In [ ]:
def func(*kids):
    print("the youngest child is " + kids[2])

func("Amit","Mohit","Akshat")

the youngest child is Akshat

#### ( OTHER METHOD OF MULTIPLE ARGUEMENTS )

In [ ]:
def child(child1,child2,child3):
    print("the youngest child is " + child3)
    
child(child1="Amit",child2="Sumit",child3="Puneet")

the youngest child is Puneet

#### ( VALUE IN A FUNCTION )

In [ ]:
def my_country(country="India"):
    print("i am from " + country)
    
my_country()
my_country("Brazil")
my_country("Paris")

i am from India
i am from Brazil
i am from Paris

#### ( SQUARE OF A NUMBER USING FUNCTION )

In [ ]:
def square():
    x=int(input("enter a value "))
    z=x*x
    print(z)
    
    
square()

36

####  SQUARE OF LIST IN A FUNCTION

In [ ]:
def square_no(lst=[2,3,4,5,6]):
    temp = []
    for x in lst:
        temp.append(x**2)
    return temp

output = square_no()
print(output)

[4, 9, 16, 25, 36]

#### ( AVERAGE OF A LIST USING FUNCTION )

In [ ]:
def average(lst):
    return sum(lst)/len(lst)

average([2,4,6,8,10])

6.0

#### ( MIN FUNCTION USING PRE DEFINED FUNCTION )

In [2]:
def min_value(lst):
    a=min(lst)
    print(a)
    
min_value([65,45,98,78,116,42])

42

#### ( MAX FUNCTION USING PRE DEFINED FUNCTION )

In [1]:
def max_value(lst):
    a=max(lst)
    print(a)
    
max_value([65,45,98,78,116,42])

116

#### ( FINDING MINIMUM VALUE IN A LIST WITHOUT USING PRE DEFINED FUNCTION )

In [ ]:
def min(lst):
    minimum = x[0]
    for i in lst:
        if minimum>i:
            minimum=i
    return minimum

x=[23,43,56,12,76,98,55,3,77,100]
min(x)

3

#### ( FINDING MAXIMUM VALUE IN A LIST WITHOUT USING PRE DEFINED FUNCTION )

In [ ]:
def max(lst):
    maximum = x[0]
    for i in lst:
        if maximum<i:
            maximum=i
    return maximum

x=[23,43,56,12,76,98,55,3,77,100]
max(x)

100

### ( LAMBDA FUNCTION )     ( SINGLE ARGUEMENT EXAMPLE )

In [ ]:
#lambda arg: expression
x=lambda a: a+10
print(x(10))

20

### ( LAMBDA FUNCTION )     ( MULTIPLE ARGUEMENT EXAMPLE )

In [ ]:
x=lambda a,b: a*b
print(x(10,20))

200

### ( SUM OF THREE NUMBERS USING LAMBDA FUNCTION )

In [ ]:
x=lambda a,b,c: a+b+c
print(x(5,10,15))

30

### ( DOUBLE OF A LAMBDA FUNCTION WITH NORMAL FUNCTION )

In [ ]:
def my_function(n):
    return lambda a: a*n
double= my_function(2)
print(double(10))

20

### ( TRIPLE OF A LAMBDA FUNCTION WITH NORMAL FUNCTION )

In [ ]:
def my_function(n):
    return lambda a: a*n

triple= my_function(3)
print(triple(10))

30